<div
  class="min-h-screen bg-gray-100"
  [attr.dir]="pageDirection"
>

  <!-- =====================================================
       HEADER
       ===================================================== -->

  <header
    class="no-print flex flex-col gap-4
           border-b border-knoz-border
           bg-white px-4 py-4
           sm:flex-row sm:items-center
           sm:justify-between
           sm:px-6
           lg:px-10"
  >

    <!-- Page Title -->
    <div class="min-w-0">

      <h1
        class="text-lg font-semibold
               text-knoz-green
               sm:text-xl"
      >
        {{ getPageText('certificatePreview') }}
      </h1>

      <p
        class="mt-1 text-xs
               text-gray-500
               sm:text-sm"
      >
        {{ getPageText('reviewCertificate') }}
      </p>

    </div>


    <!-- Actions -->
    <div
      class="no-print flex w-full flex-col gap-2
             sm:w-auto sm:flex-row
             sm:items-center sm:gap-3"
    >

      <!-- Print -->
      <button
        type="button"
        (click)="printCertificate()"
        class="w-full rounded-lg
               bg-knoz-gold px-4 py-2
               text-sm font-semibold
               text-knoz-green
               transition hover:opacity-90
               sm:w-auto sm:px-5"
      >
        {{ getPageText('downloadCertificate') }}
      </button>


      <!-- Back -->
      <a
        routerLink="/certificates/create"
        class="w-full rounded-lg
               px-4 py-2
               text-center
               text-sm font-medium
               text-knoz-green
               transition hover:bg-knoz-cream
               sm:w-auto"
      >
        {{ pageDirection === 'rtl' ? '→' : '←' }}
        {{ getPageText('back') }}
      </a>

    </div>

  </header>



  <!-- =====================================================
       PREVIEW AREA
       ===================================================== -->

  <main
    class="certificate-preview-area
           flex min-h-[calc(100vh-5rem)]
           items-start justify-start
           overflow-x-auto overflow-y-auto
           p-3
           sm:items-center sm:justify-center
           sm:p-6
           lg:p-8"
  >

    <!-- Certificate Wrapper -->
    <div
      class="certificate-wrapper
             flex min-w-full
             justify-start
             sm:justify-center"
    >


      <!-- =================================================
           CERTIFICATE
           ================================================= -->

      <div
        #certificateElement
        class="certificate-print
               relative
               aspect-[297/210]
               w-[700px]
               max-w-none
               shrink-0
               overflow-hidden
               shadow-2xl
               sm:w-full
               sm:max-w-5xl"

        [ngClass]="{
          'bg-[#FDFCF8] text-knoz-green': isClassic,
          'bg-knoz-green text-knoz-gold': isElegant || isQuran
        }"
      >


        <!-- =================================================
             CLASSIC BORDER
             ================================================= -->

        @if (isClassic) {

          <!-- Outer Border -->
          <div
            class="absolute inset-2
                   border border-knoz-gold
                   sm:inset-3 sm:border-2
                   lg:inset-5"
          ></div>


          <!-- Inner Border -->
          <div
            class="absolute inset-4
                   border border-knoz-gold/40
                   sm:inset-6
                   lg:inset-8"
          ></div>

        }



        <!-- =================================================
             ELEGANT BORDER
             ================================================= -->

        @if (isElegant) {

          <!-- Main Gold Border -->
          <div
            class="absolute inset-2
                   border border-knoz-gold
                   sm:inset-3 sm:border-2
                   lg:inset-5"
          ></div>


          <!-- Inner Gold Border -->
          <div
            class="absolute inset-5
                   border border-knoz-gold/60
                   sm:inset-7
                   lg:inset-9"
          ></div>


          <!-- Elegant Corner Decorations -->

          <!-- <span
            class="absolute left-5 top-4
                   text-2xl text-knoz-gold
                   sm:left-7 sm:top-6
                   sm:text-3xl
                   lg:left-10 lg:top-8
                   lg:text-4xl"
          >
            ❖
          </span> -->


          <!-- <span
            class="absolute right-5 top-4
                   text-2xl text-knoz-gold
                   sm:right-7 sm:top-6
                   sm:text-3xl
                   lg:right-10 lg:top-8
                   lg:text-4xl"
          >
            ❖
          </span>


          <span
            class="absolute bottom-4 left-5
                   text-2xl text-knoz-gold
                   sm:bottom-6 sm:left-7
                   sm:text-3xl
                   lg:bottom-8 lg:left-10
                   lg:text-4xl"
          >
            ❖
          </span>


          <span
            class="absolute bottom-4 right-5
                   text-2xl text-knoz-gold
                   sm:bottom-6 sm:right-7
                   sm:text-3xl
                   lg:bottom-8 lg:right-10
                   lg:text-4xl"
          >
            ❖
          </span> -->

        }



        <!-- =================================================
             QURAN BORDER + ISLAMIC DECORATION
             ================================================= -->

        @if (isQuran) {

          <!-- Outer Border -->
          <div
            class="absolute inset-2
                   border-2 border-knoz-gold
                   sm:inset-3
                   lg:inset-5"
          ></div>


          <!-- Inner Border -->
          <div
            class="absolute inset-4
                   border border-knoz-gold/70
                   sm:inset-6
                   lg:inset-8"
          ></div>


          <!-- Inner Decorative Line -->
          <div
            class="absolute inset-6
                   border border-knoz-gold/30
                   sm:inset-8
                   lg:inset-10"
          ></div>


          <!-- Top Left Ornament -->
          <div
            class="absolute left-5 top-4
                   text-xl text-knoz-gold
                   sm:left-7 sm:top-6
                   sm:text-2xl
                   lg:left-10 lg:top-8
                   lg:text-4xl"
          >
            ❈
          </div>


          <!-- Top Right Ornament -->
          <div
            class="absolute right-5 top-4
                   text-xl text-knoz-gold
                   sm:right-7 sm:top-6
                   sm:text-2xl
                   lg:right-10 lg:top-8
                   lg:text-4xl"
          >
            ❈
          </div>


          <!-- Bottom Left Ornament -->
          <div
            class="absolute bottom-4 left-5
                   text-xl text-knoz-gold
                   sm:bottom-6 sm:left-7
                   sm:text-2xl
                   lg:bottom-8 lg:left-10
                   lg:text-4xl"
          >
            ❈
          </div>


          <!-- Bottom Right Ornament -->
          <div
            class="absolute bottom-4 right-5
                   text-xl text-knoz-gold
                   sm:bottom-6 sm:right-7
                   sm:text-2xl
                   lg:bottom-8 lg:right-10
                   lg:text-4xl"
          >
            ❈
          </div>


          <!-- Top Islamic Ornament -->
          <div
            class="absolute left-1/2 top-4
                   -translate-x-1/2
                   text-lg text-knoz-gold
                   sm:top-6 sm:text-xl
                   lg:top-8 lg:text-3xl"
          >
            ۞
          </div>


          <!-- Bottom Islamic Ornament -->
          <div
            class="absolute bottom-4 left-1/2
                   -translate-x-1/2
                   text-lg text-knoz-gold
                   sm:bottom-6 sm:text-xl
                   lg:bottom-8 lg:text-3xl"
          >
            ۞
          </div>

        }



        <!-- =================================================
             CERTIFICATE CONTENT
             ================================================= -->

        <div
          class="relative z-10
                 flex h-full flex-col
                 px-5 py-5
                 text-center
                 sm:px-10 sm:py-7
                 lg:px-16 lg:py-10"

          [attr.dir]="direction"
        >


          <!-- =================================================
               MAIN CONTENT
               ================================================= -->

          <div
            class="certificate-main-content
                   flex w-full flex-1
                   flex-col items-center
                   justify-around"
          >


            <!-- =================================================
                 LOGO
                 ================================================= -->

            <div
              class="certificate-brand
                     flex flex-col
                     items-center"
            >

              <!-- Classic Logo -->
              @if (isClassic) {

                <img
                  src="/assets/logo.jpeg"
                  alt="Knoz Academy"

                  class="h-9 w-auto
                         object-contain
                         sm:h-12
                         lg:h-20"
                />

              }


              <!-- Elegant Logo -->
              @if (isElegant) {

                <div
                  class="flex h-9 w-9
                         items-center justify-center
                         rounded-full
                         border border-knoz-gold
                         text-sm font-bold
                         text-knoz-gold
                         sm:h-12 sm:w-12
                         sm:text-lg
                         lg:h-16 lg:w-16
                         lg:text-2xl"
                >
                 K
                </div>

              }


              <!-- Quran Logo -->
              @if (isQuran) {

                <div
                  class="flex h-10 w-10
                         items-center justify-center
                         rounded-full
                         border-2 border-knoz-gold
                         text-lg font-serif
                         text-knoz-gold
                         sm:h-14 sm:w-14
                         sm:text-2xl
                         lg:h-20 lg:w-20
                         lg:text-3xl"
                >
                  ۞
                </div>

              }


              <!-- Academy Name -->
              <p
                class="mt-1
                       text-[7px]
                       font-semibold
                       tracking-[0.25em]

                       sm:mt-2
                       sm:text-[9px]

                       lg:text-sm
                       lg:tracking-[0.35em]"

                [ngClass]="{
                  'text-knoz-green': isClassic,
                  'text-knoz-gold': isElegant || isQuran
                }"
              >
                {{ getText('academyName') }}
              </p>

            </div>



            <!-- =================================================
                 TITLE
                 ================================================= -->

            <div
              class="certificate-title
                     mt-2
                     sm:mt-3
                     lg:mt-4"
            >

              <h2
                class="font-serif
                       text-sm font-bold
                       uppercase
                       tracking-[0.08em]

                       sm:text-xl

                       lg:text-4xl
                       lg:tracking-[0.12em]"

                [ngClass]="{
                  'text-knoz-green': isClassic,
                  'text-knoz-gold': isElegant || isQuran
                }"
              >
                {{ getText('certificateTitle') }}
              </h2>


              <div
                class="mx-auto mt-1
                       h-0.5 w-12
                       sm:mt-2 sm:w-20
                       lg:mt-3 lg:w-24"

                [ngClass]="{
                  'bg-knoz-gold': true
                }"
              ></div>

            </div>



            <!-- =================================================
                 STUDENT
                 ================================================= -->

            <div
              class="certificate-student
                     mt-3
                     sm:mt-4
                     lg:mt-5"
            >

              <p
                class="text-[8px]
                       italic
                       sm:text-[10px]
                       lg:text-sm"

                [ngClass]="{
                  'text-gray-500': isClassic,
                  'text-knoz-gold/80': isElegant || isQuran
                }"
              >
                {{ getText('presentedTo') }}
              </p>


              <h3
                class="mt-1
                       max-w-[600px]
                       truncate
                       font-serif
                       text-base
                       font-bold

                       sm:mt-2
                       sm:text-2xl

                       lg:mt-3
                       lg:text-5xl"

                [ngClass]="{
                  'text-knoz-green': isClassic,
                  'text-white': isElegant || isQuran
                }"
              >
                {{ certificate?.studentName }}
              </h3>

            </div>



            <!-- =================================================
                 COURSE
                 ================================================= -->

            <div
              class="certificate-course
                     mt-2
                     sm:mt-3
                     lg:mt-4"
            >

              <p
                class="text-[8px]
                       sm:text-[10px]
                       lg:text-sm"

                [ngClass]="{
                  'text-gray-500': isClassic,
                  'text-knoz-gold/80': isElegant || isQuran
                }"
              >
                {{ getText('successfullyCompleted') }}
              </p>


              <p
                class="mt-1
                       max-w-[600px]
                       truncate
                       text-xs
                       font-semibold

                       sm:text-base

                       lg:mt-2
                       lg:text-2xl"

                [ngClass]="{
                  'text-knoz-green': isClassic,
                  'text-knoz-gold': isElegant || isQuran
                }"
              >
                {{ certificate?.courseName }}
              </p>

            </div>



            <!-- =================================================
                 DECORATION
                 ================================================= -->

            <div
              class="certificate-decoration
                     mt-2
                     flex items-center
                     gap-2

                     sm:mt-3
                     sm:gap-3

                     lg:mt-4"
            >

              <div
                class="h-px w-8
                       sm:w-12
                       lg:w-16
                       bg-knoz-gold/60"
              ></div>


              <span
                class="text-xs
                       text-knoz-gold
                       sm:text-base
                       lg:text-lg"
              >
                ✦
              </span>


              <div
                class="h-px w-8
                       sm:w-12
                       lg:w-16
                       bg-knoz-gold/60"
              ></div>

            </div>

          </div>



          <!-- =================================================
               FOOTER
               ================================================= -->

          <div
            class="certificate-footer
                   grid w-full shrink-0
                   grid-cols-3
                   items-start
                   gap-3 px-2

                   sm:gap-6

                   lg:gap-8"
          >


            <!-- =================================================
                 ISSUE DATE
                 ================================================= -->

            <div
              class="flex flex-col
                     items-start
                     justify-start"
            >

              <!-- Date -->
              <div
                class="flex h-7
                       items-end

                       sm:h-10

                       lg:h-14"
              >

                <p
                  class="whitespace-nowrap
                         text-[8px]
                         font-semibold

                         sm:text-[10px]

                         lg:text-sm"

                  [ngClass]="{
                    'text-knoz-green': isClassic,
                    'text-knoz-gold': isElegant || isQuran
                  }"
                >
                  {{ certificate?.issueDate | date:'dd MMMM yyyy' }}
                </p>

              </div>


              <!-- Line -->
              <div
                class="mt-1 h-px w-16
                       bg-knoz-gold/50

                       sm:w-24

                       lg:mt-2
                       lg:w-32"
              ></div>


              <!-- Issue Date -->
              <p
                class="mt-1
                       text-[7px]

                       sm:text-[9px]

                       lg:text-xs"

                [ngClass]="{
                  'text-gray-400': isClassic,
                  'text-knoz-gold/70': isElegant || isQuran
                }"
              >
                {{ getText('issueDate') }}
              </p>

            </div>



            <!-- =================================================
                 QR CODE
                 ================================================= -->

            <div
              class="certificate-qr
                     flex items-center
                     justify-center
                     self-center"
            >

              <!-- QR Background -->
              <div
                class="rounded-md p-1"

                [ngClass]="{
  'bg-white': isClassic,
  'bg-knoz-green': isElegant || isQuran
}"
              >

                <img
                  [src]="qrCodeUrl"
                  alt="Certificate QR Code"

                  class="block
                         h-10 w-10
                         object-contain

                         sm:h-14 sm:w-14

                         lg:h-20 lg:w-20"
                />

              </div>

            </div>



            <!-- =================================================
                 SIGNATURE
                 ================================================= -->

            <div
              class="flex flex-col
                     items-center
                     justify-start"
            >

              <!-- Signature -->
              <div
                class="flex h-7
                       items-end
                       justify-center

                       sm:h-10

                       lg:h-14"
              >

                <img
                  src="/assets/Signature.png"
                  alt="Academic Director Signature"

                  class="certificate-signature
                         max-h-7
                         w-auto
                         object-contain

                         sm:max-h-10

                         lg:max-h-14"
                />

              </div>


              <!-- Line -->
              <div
                class="mt-1 h-px w-20
                       bg-knoz-gold/50

                       sm:w-28

                       lg:mt-2
                       lg:w-36"
              ></div>


              <!-- Academic Director -->
              <p
                class="mt-1
                       whitespace-nowrap
                       text-[7px]
                       font-medium

                       sm:text-[9px]

                       lg:text-xs"
                [ngClass]="{
                  'text-gray-500': isClassic,
                  'text-knoz-gold/80': isElegant || isQuran
                }"
              >
                {{ getText('academicDirector') }}
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>